@page "/army"
@inject BlazorBattle.Client.Services.IUnitService UnitService
@attribute [Authorize]
<h3>Army List</h3>
@if (UnitService.Units.Count > 0)
{
    @foreach (var userUnit in UnitService.MyUnits)
    {
        <div class="army-list">
            <div>
                @switch (userUnit.UnitId)
                {
                    case 1:<img src="/Icons/W_Sword006.png" /> break;
                    case 2: <img src="/Icons/S_Bow08.png" /> break;
                    case 3: <img src="/Icons/C_Hat01.png" />break;
                    case 4: <img src="/Icons/W_Axe013.png" />break;
                }
            </div>
            <div>
                @UnitService.Units.First(UnitService => UnitService.id == userUnit.UnitId).name
            </div>
            <div>
                @userUnit.HitPoints HP
            </div>
        </div>
    }
}
else
{
    <span>Loading Units...</span>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnistAsync();
        await UnitService.LoadUserUnitsAsync();
    }
}
